/* NOTA ÞETTA NAVIGATION: https://codepen.io/iprodev/pen/yygvPx */

@font-face {
	src: url(../fonts/Norse-Bold.otf);
	font-family: NorseBold;
}

@font-face {
	src: url(../fonts/Norse.otf);
	font-family: Norse;
}

body {
	margin: 0;
}

.intro {
	width: 100%;
	height: 100vh;
	background-image: url(../img/topmenu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


.menu {
	transition: all .3s;
	top: 0;
	height: 100%;
	position: fixed;
	
	background: #aaa;
	color: #333;
	font-family: NorseBold;
	padding: 0 50px;
	padding-bottom: 5px;
	display: inline;
	margin-left: -25em;
}

.menubutton {
	margin-left: 30px;
	font-size: 5em;
	z-index: 999;
	position: fixed;
	font-family: NorseBold;
	transition: all .3s;
	cursor: pointer;
}

#menubox:checked ~ .menubutton {
	margin-left: 300px;
	transition: all .5s;
	color: #822;
	transform: rotate(-180deg);
}

#menubox:checked ~ .menu {
	margin-left: -1.4em;
	transition: all .5s;
}


.Inline {
	display: inline-block;
}

#menubox {
	font-size: 3em;
	display: none;
}


/* Ekki setja inn style-list-type, það er flott að hafa inni punktanna í menu'inu */
.Buttons a{
	color: #333;
	text-decoration: none;
	font-size: 1.3em;
}

.Buttons a:hover {
	text-decoration: underline;
}

.Buttons li{
	padding: .3em;
}

.AudioManager {
	top: 0;
	right: 0;
	position: fixed;
	font-size: 2em;
	padding: .4em;
	cursor: pointer;
	background-color: tomato;
	border-bottom-left-radius: 50%;
	transition: padding .3s;
}




