.intro {
	display: table;
	width: 100%;
	height: 100vh;
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)  ), url(../img/topmenu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	
	transition: all .3s;
}

#menubox:checked ~ .intro {
	transition: all .3s;
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)  ), url(../img/topmenu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.sd {
	width: 100%;
	bottom: 100px;
	position: fixed;
	text-align: center;
}