@keyframes trans {
	100% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px); 
	}
}

body {
	/*background-color: #4F9CB5;*/


	background: linear-gradient(to top, #445D70, #74A6CC);
	
}


.info {
	position: absolute;
	z-index: 998;
	margin: 20px;
	margin-top: 10em;
	color: white;
}


#all {
	padding: 0;
}

section {
padding: 0;

}

.winfo {

}



@keyframes fljota {
	0% {
		padding-bottom: 100vh;
	}

	100% {
		padding-bottom: 0px;
	}
}




.intro {
	padding-bottom: 100vh;
	/*animation: 1s fljota;*/
}

.wave {
	animation: 1s trans;
}

.up {
	background: #585c5b;
}

.down {
	animation: 1s syna;
	bottom: 0;
	padding-top: 40px;
	height: 40px;
}

.box {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 10px;
	text-align: center;
	line-height: 100px;
	border-radius: 5px;
	margin: 0 10px;
	transition: .3s all;
}

.box:hover {
	width: 200px;
	transition: .7s all;
}

.black {
	background: black;
	cursor: pointer;
}
/*Rautt*/
.red {
	background: red;
	cursor: not-allowed;
}
